In [3]:
import pandas as pd

In [4]:
#Upload data file from local drive to google colab
from google.colab import files
uploaded = files.upload()

Saving iris.data to iris.data

In [5]:
#Assigning column names for the dataset
headernames = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'Class']
#importing dataset
dataset = pd.read_csv('iris.data', names = headernames)
dataset.head()

   sepal-length  sepal-width  petal-length  petal-width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [6]:
#Class before encoding
print("Types of classes and their count:\n",dataset['Class'].value_counts())

Types of classes and their count:
 Iris-setosa        50
Iris-virginica     50
Iris-versicolor    50
Name: Class, dtype: int64

# **Encoding**

In [17]:
# Encoding Using Label Encoder
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
dataset['Class']=le.fit_transform(dataset['Class'])

print("Classes: ",le.classes_)
dataset

Classes:  [0 1 2]

     sepal-length  sepal-width  petal-length  petal-width  Class
0             5.1          3.5           1.4          0.2      0
1             4.9          3.0           1.4          0.2      0
2             4.7          3.2           1.3          0.2      0
3             4.6          3.1           1.5          0.2      0
4             5.0          3.6           1.4          0.2      0
..            ...          ...           ...          ...    ...
145           6.7          3.0           5.2          2.3      2
146           6.3          2.5           5.0          1.9      2
147           6.5          3.0           5.2          2.0      2
148           6.2          3.4           5.4          2.3      2
149           5.9          3.0           5.1          1.8      2

[150 rows x 5 columns]

In [8]:
# Encoding Using OneHotEncoder
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()
encoded_data = encoder.fit_transform(dataset['Class'].values.reshape(-1,1)).toarray()
print("Encoded Categories: ",encoder.categories_)

#Transforming the encoded data to dataframe
encoded_data = pd.DataFrame(encoded_data , columns = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'])
encoded_data

Encoded Categories:  [array([0, 1, 2])]

     Iris-setosa  Iris-versicolor  Iris-virginica
0            1.0              0.0             0.0
1            1.0              0.0             0.0
2            1.0              0.0             0.0
3            1.0              0.0             0.0
4            1.0              0.0             0.0
..           ...              ...             ...
145          0.0              0.0             1.0
146          0.0              0.0             1.0
147          0.0              0.0             1.0
148          0.0              0.0             1.0
149          0.0              0.0             1.0

[150 rows x 3 columns]

**Standardization**

In [23]:
dataset

     sepal-length  sepal-width  petal-length  petal-width  Class
0             5.1          3.5           1.4          0.2      0
1             4.9          3.0           1.4          0.2      0
2             4.7          3.2           1.3          0.2      0
3             4.6          3.1           1.5          0.2      0
4             5.0          3.6           1.4          0.2      0
..            ...          ...           ...          ...    ...
145           6.7          3.0           5.2          2.3      2
146           6.3          2.5           5.0          1.9      2
147           6.5          3.0           5.2          2.0      2
148           6.2          3.4           5.4          2.3      2
149           5.9          3.0           5.1          1.8      2

[150 rows x 5 columns]

In [22]:
#Standardization
from sklearn.preprocessing import StandardScaler
copydata = dataset
#Performing scaling using StandardScaler
sc = StandardScaler()
standardized_data = sc.fit_transform(copydata)
print("Before Standardization\n")
print(dataset)
print("After Standardization\n")
pd.DataFrame(standardized_data,columns=copydata.columns)

Before Standardization

     sepal-length  sepal-width  petal-length  petal-width  Class
0             5.1          3.5           1.4          0.2      0
1             4.9          3.0           1.4          0.2      0
2             4.7          3.2           1.3          0.2      0
3             4.6          3.1           1.5          0.2      0
4             5.0          3.6           1.4          0.2      0
..            ...          ...           ...          ...    ...
145           6.7          3.0           5.2          2.3      2
146           6.3          2.5           5.0          1.9      2
147           6.5          3.0           5.2          2.0      2
148           6.2          3.4           5.4          2.3      2
149           5.9          3.0           5.1          1.8      2

[150 rows x 5 columns]
After Standardization

     sepal-length  sepal-width  petal-length  petal-width     Class
0       -0.900681     1.032057     -1.341272    -1.312977 -1.224745
1       -1.143017    -0.124958     -1.341272    -1.312977 -1.224745
2       -1.385353     0.337848     -1.398138    -1.312977 -1.224745
3       -1.506521     0.106445     -1.284407    -1.312977 -1.224745
4       -1.021849     1.263460     -1.341272    -1.312977 -1.224745
..            ...          ...           ...          ...       ...
145      1.038005    -0.124958      0.819624     1.447956  1.224745
146      0.553333    -1.281972      0.705893     0.922064  1.224745
147      0.795669    -0.124958      0.819624     1.053537  1.224745
148      0.432165     0.800654      0.933356     1.447956  1.224745
149      0.068662    -0.124958      0.762759     0.790591  1.224745

[150 rows x 5 columns]

Normalization

In [10]:
#Normalization
from sklearn.preprocessing import normalize
copydata1 = dataset.drop(['Class'], axis = 'columns')
normalized = normalize(copydata1, norm='l2')
print("Before Normalization\n")
print(dataset)
print("After Normalization\n")
pd.DataFrame(normalized,columns=copydata1.columns)

Before Normalization

     sepal-length  sepal-width  petal-length  petal-width  Class
0             5.1          3.5           1.4          0.2      0
1             4.9          3.0           1.4          0.2      0
2             4.7          3.2           1.3          0.2      0
3             4.6          3.1           1.5          0.2      0
4             5.0          3.6           1.4          0.2      0
..            ...          ...           ...          ...    ...
145           6.7          3.0           5.2          2.3      2
146           6.3          2.5           5.0          1.9      2
147           6.5          3.0           5.2          2.0      2
148           6.2          3.4           5.4          2.3      2
149           5.9          3.0           5.1          1.8      2

[150 rows x 5 columns]
After Normalization

     sepal-length  sepal-width  petal-length  petal-width
0        0.803773     0.551609      0.220644     0.031521
1        0.828133     0.507020      0.236609     0.033801
2        0.805333     0.548312      0.222752     0.034269
3        0.800030     0.539151      0.260879     0.034784
4        0.790965     0.569495      0.221470     0.031639
..            ...          ...           ...          ...
145      0.721557     0.323085      0.560015     0.247699
146      0.729654     0.289545      0.579090     0.220054
147      0.716539     0.330710      0.573231     0.220474
148      0.674671     0.369981      0.587616     0.250281
149      0.690259     0.350979      0.596665     0.210588

[150 rows x 4 columns]

Discretization

In [25]:
from sklearn.preprocessing import KBinsDiscretizer
kbins = KBinsDiscretizer(n_bins=10, encode='ordinal', strategy='uniform')
copydata4 = dataset.drop(['Class'], axis = 'columns')
data_trans = kbins.fit_transform(copydata4)

pd.DataFrame(copydata4,columns=copydata4.columns)

     sepal-length  sepal-width  petal-length  petal-width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [11]:
#Imputation of missing values
#Upload data file from local drive to google colab
from google.colab import files
uploaded = files.upload()

Saving damaged_iris.csv to damaged_iris.csv

In [12]:
#Assigning column names for the dataset
headernames = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'Class']
#importing dataset
df = pd.read_csv('damaged_iris.csv', names = headernames)
df

     sepal-length  sepal-width  petal-length  petal-width           Class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          NaN     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          NaN           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [13]:
#Checking null values in dataset
df.isnull().sum()

sepal-length    0
sepal-width     2
petal-length    2
petal-width     2
Class           0
dtype: int64

In [14]:
from sklearn.impute import SimpleImputer

copydata3 = df.drop(['Class'], axis = 'columns')
my_imputer = SimpleImputer()
imputed_data = my_imputer.fit_transform(copydata3)
pd.DataFrame(imputed_data,columns=copydata3.columns)

     sepal-length  sepal-width  petal-length  petal-width
0             5.1     3.500000           1.4     0.200000
1             4.9     3.000000           1.4     0.200000
2             4.7     3.200000           1.3     1.211486
3             4.6     3.100000           1.5     0.200000
4             5.0     3.047973           1.4     0.200000
..            ...          ...           ...          ...
145           6.7     3.000000           5.2     2.300000
146           6.3     2.500000           5.0     1.900000
147           6.5     3.000000           5.2     2.000000
148           6.2     3.400000           5.4     2.300000
149           5.9     3.000000           5.1     1.800000

[150 rows x 4 columns]

In [15]:
pd.DataFrame(imputed_data).isnull().sum()

0    0
1    0
2    0
3    0
dtype: int64